<section id="footer">
  <div appCustomContainer>
    <div class="row footer__banner-container">
      <div class="col-12">
        <img src="" alt="" class="footer__banner" src="#">
      </div>
    </div>
    <div class="row footer__sitemap-container">
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            institucional
          </span>
        </div>
        <div class="row">
          <ul>
            <li>quem somos</li>
            <li>jornal de ofertas</li>
            <li>promoções</li>
            <li>trabalhe conosco</li>
            <li>contato</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            institucional
          </span>
        </div>
        <div class="row">
          <ul>
            <li>quem somos</li>
            <li>jornal de ofertas</li>
            <li>promoções</li>
            <li>trabalhe conosco</li>
            <li>contato</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            ajuda
          </span>
        </div>
        <div class="row">
          <ul>
            <li>converse conosco</li>
            <li>reporte um problema</li>
            <li>tutoriais</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            redes sociais
          </span>
        </div>
        <div class="row">
          <ul>
            <li>quem somos</li>
            <li>jornal de ofertas</li>
            <li>promoções</li>
            <li>trabalhe conosco</li>
            <li>contato</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row footer__payment-container"></div>
    <div class="row footer__copyright-container"></div>
    <div class="row footer__info-container"></div>
  </div>
</section>
