<section id="footer">
  <div appCustomContainer>
    <div class="row footer__banner-container py-3">
      <div class="col-12">
        <img src="" alt="" class="footer__banner" src="#">
      </div>
    </div>
    <div class="row footer__sitemap-container pt-3">
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            institucional
          </span>
        </div>
        <div class="row">
          <ul>
            <li>quem somos</li>
            <li>jornal de ofertas</li>
            <li>promoções</li>
            <li>trabalhe conosco</li>
            <li>contato</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            institucional
          </span>
        </div>
        <div class="row">
          <ul>
            <li>quem somos</li>
            <li>jornal de ofertas</li>
            <li>promoções</li>
            <li>trabalhe conosco</li>
            <li>contato</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            ajuda
          </span>
        </div>
        <div class="row">
          <ul>
            <li>converse conosco</li>
            <li>reporte um problema</li>
            <li>tutoriais</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <span class="banner-container_title">
            redes sociais
          </span>
        </div>
        <div class="row">
          <ul>
            <li>quem somos</li>
            <li>jornal de ofertas</li>
            <li>promoções</li>
            <li>trabalhe conosco</li>
            <li>contato</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row footer__payment-container py-3">
      <div class="row">
        <span class="payment-container_title">
          formas de pagamento
        </span>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row d-flex flex-row justify-content-start">
            <div class="col-2 py-3">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2 py-3">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
            <div class="col-2">
              <img src="" alt="" class="payment-container__payment-way">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row footer__copyright-container py-5">
      <div class="col-6">
        <div class="row">
          <span>@2021 Supermercado ServLev Ltda. - Todos os direitos reservados.</span>
        </div>
        <div class="row">
          <span>CNPJ: 00000000000000000000 - Av. Marechal Costa e Silva, 3425 - Ribeirão Preto - SP, CEP: 14075-610</span>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end align-itens-center">
        <div class="row">
          <span>Desenvolvido com carinho pela <strong>Fonsan</strong>.</span>
        </div>
      </div>
    </div>
    <div class="row footer__info-container py-5">
      <span>
        A venda e o consumo de bebidas alcoólicas são proibidas para menores de 18 anos. Bebida Alcoólica pode causar dependência Quimica e, em excesso, Provoca graves males à saúde. Beba com moderação. Em caso de divergência de preços no site, é válido o valor do Carrinho de Compras. Produtos, preços, ofetas e condições de pagamento são válidas exclusivamente para a loja eletrônica durante o dia de hoje, sujeitas a alterações sem prévia notificação. Os preços previstos no site prevalecem aos demais anunciados em outros meios de comunicação, incluindo os veiculados em redes sociais, email e sites de buscas. As mercadorias em promoção têm quantidades limitadas por clientes de acordo com o artigo 39 – I CDC, Lei nº. 8.078 de 11/09/90 e artigo 12 – III Decreto nº. 2.181 de 20/03/97.
      </span>
    </div>
  </div>
</section>
